<div class="monitor-component" ng-controller="MonitorCtrl" style="width: 1800px; margin: auto;">
    <div class="options">
        <div class="row">
            <div class="col-md-9">
                <a href="alicmMain"><button class="btn btn-default btn-lx" style="background-color: #85bb43" ng-click="compare()" data-toggle="tooltip" data-placement="right" title="猛戳进行比较，再次点击则关闭"><span style="color: #ffffff">对比</span></button></a>
            </div>
            <div class="col-md-3">
                <img src="../styles/imags/logo3-100X100.png" width="50" height="50" style="float:right"/>
            </div>
        </div>
    </div>
    <div>
        <iframe src="/alicms" width="100%" height="{{movieHights}}" style="border: none;"></iframe>
    </div>
    <div>
        <iframe src="/alicms" width="100%" height="{{movieHights}}" style="border: none;"></iframe>
    </div>
</div>